.food-card {
    width: 98%;
    height: 220px;
    background-position:center;
    background-size: cover;
    cursor: pointer;
    transition: 0.5s;
}

.food-card:hover {
    transform: scale(1.05);
}

.food-card img {
    max-width: 100%;
}

.food-card-content{
    width: 100%;
    height: 100%;
    background: rgba(43, 41, 41, 0.7);
    opacity: 0;
    /*이거 좀 이상함 안 됌*/
    transition: all 1s;
    color: white;
    font-weight: bold;
    overflow-wrap: break-word;
    padding: 16px;
}
.food-card-content:hover{
    opacity: 1;
}

@media (max-width: 1024px) {
    .food-card {
        text-align: center;
        margin: auto;
    }
}